// I do not claim this as mine, thank you Trenton Telge ... https://stackoverflow.com/a/43372327

@keyframes colors {
    0%   {background-color: red;}
    33%  {background-color: yellow;}
    66%  {background-color: blue;}
    100%   {background-color: red;}
}

body {
    background-color: red;
    animation-name: colors;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}